<main>

    <!--    Dieta para Alumno     -->
    <section>
        <h3 class="categorie">Dieta</h3>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="" class="form-label">Tipo de dieta</label>
                <input type="text" class="form-control" id="" />
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Control de peso</label>
                <input type="text" class="form-control" id="" placeholder="peso en Kg" />
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Evolucion del aspecto fisico</label>
                <input type="file" class="form-control" id="" name="">
            </div>
            <div class="col-12 buttons">
                <button type="button" class="btn btn-green">Guardar</button>
                <button class="btn btn-grey">Modificar</button>
            </div>
        </form>
    </section>

    <!--          ver asistencia del alumno      -->
    <section>
        <h3 class="categorie">Asistencia del Alumno</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-2">Fecha</th>
                        <th scope="col" class="col-3">Dia</th>
                        <th scope="col" class="col-2">Hora</th>
                        <th scope="col" class="col-2">Asistencia</th>
                        <th scope="col" class="col-3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>17/03/2021</th>
                        <th>Lunes</th>
                        <td>10:00 am</td>
                        <td>si</td>
                        <td>
                            <button class="btn btn-green">Detalles</button>
                            <button class="btn btn-red">Borrar</button>
                            <button class="btn btn-grey">Imprimir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--          ver rutinas del alumno      -->
    <section>
        <h3 class="categorie">Rutinas del Alumno</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-2">Dia</th>
                        <th scope="col" class="col-3">Rutina</th>
                        <th scope="col" class="col-2">Repeticiones</th>
                        <th scope="col" class="col-2">Series</th>
                        <th scope="col" class="col-3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Lunes 17</th>
                        <td>Levantamiento de Mancuernas</td>
                        <td>10</td>
                        <td>3</td>
                        <td>
                            <button class="btn btn-green">Detalles</button>
                            <button class="btn btn-red">Borrar</button>
                            <button class="btn btn-grey">Imprimir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--          ver pago de cuotas del alumno     -->
    <section>
        <h3 class="categorie">Pago de cuotas del Alumno</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-2">Fecha</th>
                        <th scope="col" class="col-2">Plan</th>
                        <th scope="col" class="col-2">Monto</th>
                        <th scope="col" class="col-3">Pago</th>
                        <th scope="col" class="col-3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>17/03/2021</th>
                        <td>Plan Basico</td>
                        <td>$1000</td>
                        <td>Realizado con tarjeta de credito Visa</td>
                        <td>
                            <button class="btn btn-green">Detalles</button>
                            <button class="btn btn-red">Borrar</button>
                            <button class="btn btn-grey">Imprimir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>