.categorie {
  background-color: #2ec400;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
}
.main {
  min-height: 79vh;
}
.estadisticas {
  overflow: scroll;
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .estadisticas {
    width: 100%;
  }
}
