<main>
  <section class="mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active btn btn-green"
          id="datos-tab"
          data-bs-toggle="tab"
          data-bs-target="#datos"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Alumno
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-green"
          id="pagos-tab"
          data-bs-toggle="tab"
          data-bs-target="#pagos"
          type="button"
          role="tab"
          aria-controls="pagos"
          aria-selected="false"
        >
          Pagos
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-green"
          id="rutinas-tab"
          data-bs-toggle="tab"
          data-bs-target="#rutinas"
          type="button"
          role="tab"
          aria-controls="rutinas"
          aria-selected="false"
        >
          Rutinas
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-green"
          id="progreso-tab"
          data-bs-toggle="tab"
          data-bs-target="#progreso"
          type="button"
          role="tab"
          aria-controls="progreso"
          aria-selected="false"
        >
          Progreso
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-green"
          id="asistencias-tab"
          data-bs-toggle="tab"
          data-bs-target="#asistencias"
          type="button"
          role="tab"
          aria-controls="asistencias"
          aria-selected="false"
        >
          Asistencias
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-green"
          id="usuario-tab"
          data-bs-toggle="tab"
          data-bs-target="#usuario"
          type="button"
          role="tab"
          aria-controls="usuario"
          aria-selected="false"
        >
          Usuario
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn btn-red"
          id="usuario-tab"
          data-bs-toggle="tab"
          data-bs-target="#usuario"
          type="button"
          role="tab"
          aria-controls="usuario"
          aria-selected="false"
          (click)="volver()"
        >
          VOLVER
        </button>
      </li>
    </ul>
    <div class="tab-content cont" id="myTabContent">
      <div
        class="tab-pane fade show active cont"
        id="datos"
        role="tabpanel"
        aria-labelledby="datos-tab"
      >
        <!--          Datos del alumno     -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapseDatos"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Datos del Alumno</h3>
          </a>
          <div class="collapse show" id="collapseDatos">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="" class="form-label">Apellido/s</label>
                <input type="text" class="form-control" id="" name="apellido" [(ngModel)]="alumno.apellido"/>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Nombre/s</label>
                <input type="text" class="form-control" id="" name="nombre" [(ngModel)]="alumno.nombre"/>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="" name="fechanac" [(ngModel)]="alumno.fechanac"/>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Numero de Documento</label>
                <input type="number" class="form-control" id="" name="dni" [(ngModel)]="alumno.dni"/>
              </div>
              <div class="col-12">
                <label for="" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="" name="domicilio" [(ngModel)]="alumno.domicilio"/>
              </div>
              <div class="col-12">
                <label for="" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="" name="email" [(ngModel)]="alumno.email"/>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Numero de Celular</label>
                <input type="number" class="form-control" id="" name="celular" [(ngModel)]="alumno.celular"/>
              </div>
              <div class="col-md-4">
                <label for="inputState" class="form-label">Tipo de Plan</label>
                  <select class="form-select" name="plan" [(ngModel)]="alumno.plan">
                    <option *ngFor="let p of planes" [ngValue]="p">{{p.tipo}} - {{p.frecuencia}}</option>
                  </select>
              </div>
              <div class="col-md-2">
                <label for="" class="form-label">Fecha de inicio</label>
                <input type="date" class="form-control" id="" />
              </div>
              <div class="col-12 buttons">
                <button type="button" class="btn btn-green">Guardar</button>
                <button class="btn btn-grey">Modificar</button>
              </div>
            </form>
          </div>
        </section>
      </div>
      <div
        class="tab-pane fade cont"
        id="pagos"
        role="tabpanel"
        aria-labelledby="pagos-tab"
      >
        <!--                Datos de Pago       -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapsePagos"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Historial de Pagos</h3>
          </a>
          <div class="collapse show" id="collapsePagos">
            <form class="row">
              <div class="col-auto">
                <label class="m-1" for="">Fecha de Pago:</label>
                <input type="date" class="form-control" id="" />
              </div>
              <div class="col-auto">
                <label class="m-1" for="">Monto</label>
                <input type="number" class="form-control" id="" />
              </div>
              <div class="col-auto">
                <label class="m-1" for="">Plan</label>
                <select class="form-select" id="">
                  <option value="1">Plan Basico</option>
                  <option value="2">Plan Full</option>
                  <option value="3">Pase Libre</option>
                </select>
              </div>

              <div class="col-auto align-self-end">
                <button type="submit" class="btn btn-green">Nuevo Pago</button>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="col-3">Fecha</th>
                    <th scope="col" class="col-3">Plan</th>
                    <th scope="col" class="col-3">Monto</th>
                    <th scope="col" class="col-3">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>17/03/2021</th>
                    <td>Plan Basico</td>
                    <td>$1000</td>
                    <td>
                      <button class="btn btn-green">Detalles</button>
                      <button class="btn btn-red">Borrar</button>
                      <button class="btn btn-grey">Imprimir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div
        class="tab-pane fade cont"
        id="rutinas"
        role="tabpanel"
        aria-labelledby="rutinas-tab"
      >
        <!--       Rutina             -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapseRutina"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Rutina</h3>
          </a>
          <div class="collapse show" id="collapseRutina">

            <div class="text-center">
              <button class="btn-green btn mt-2 mb-2" data-bs-toggle="modal"
              data-bs-target="#modalAgregarRutina" (click)="nuevaRutina()">Agregar Rutina</button>  
            </div>
            
            <!-- modal Agregar/modificar rutina -->
            <div class="modal fade" id="modalAgregarRutina" tabindex="-1" aria-labelledby="modalLabelAgregarRutina"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="modalLabelAgregarRutina" *ngIf="accion=='new'">Nueva Rutina</h5>
                        <h5 class="modal-title" id="modalLabelAgregarRutina" *ngIf="accion=='update'">Modificar Rutina</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid col-10 offset-1 mb-3">

                          <form class="row g-3" #rutinaForm="ngForm">
                            <div class="col-md-6">
                              <label for="" class="form-label">Duración</label>
                              <input type="text" class="form-control" id="" name="rutinaDuracion" [(ngModel)]="rutina.duracion"/>
                            </div>
                            <div class="col-md-6">
                              <label for="" class="form-label">Grupo muscular</label>
                              <input type="text" class="form-control" id="" name="rutinaGrupoM" [(ngModel)]="rutina.grupomuscular"/>
                            </div>
                          </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-green"
                            data-bs-dismiss="modal" (click)="agregarRutina(rutinaForm)" *ngIf="accion=='new'">Guardar</button>
                        <button type="button" class="btn btn-green"
                            data-bs-dismiss="modal" (click)="updateRutina(rutinaForm)" *ngIf="accion=='update'">Modificar</button>
                        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>


            <!-- tabla de rutinas -->
            <div class="card-body table-responsive-sm col-md-10 offset-md-1">
              <table
                class="table table-striped"
                [mfData]="rutinas"
                #mf3="mfDataTable"
                [mfRowsOnPage]="5"
              >
                <thead>
                  <tr>
                    <th style="width: 15%">
                      <mfDefaultSorter by="duracion">Duración</mfDefaultSorter>
                    </th>
                    <th style="width: 25%">
                      <mfDefaultSorter by="grupomuscular">Grupo muscular</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                      <mfDefaultSorter by="ejercicios">Ejercicios</mfDefaultSorter>
                    </th>
                    <th style="width: 40%">
                      <mfDefaultSorter by="acciones">Acciones</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of mf3.data">
                    <td>{{ r.duracion}}</td>
                    <td>{{ r.grupomuscular }}</td>
                    <td>
                      <button class="btn btn-dark" data-bs-toggle="modal"
                      data-bs-target="#modalMostrarEjercicios" (click)="getEjercicios(r._id)" (click)="usarRutinaSeleccionada(r)">Ver ejercicios</button>  
                    </td>
                    <td>
                      <button class="btn btn-green" data-bs-toggle="modal"
                      data-bs-target="#modalAgregarRutina" (click)="cargarRutina(r._id)" >Modificar rutina</button>
                      <button class="btn btn-red">Borrar</button></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <mfBootstrapPaginator
                        [rowsOnPageSet]="[5, 10, 25]"
                      ></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <!-- modal ver ejercicios de rutina -->
            <div class="modal fade" id="modalMostrarEjercicios" tabindex="-1" aria-labelledby="modalLabelMostrarEjercicios"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="modalLabelMostrarEjercicios">Ejercicios de rutina</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                      <div class="text-center">
                        <button class="btn-green btn mt-2 mb-2" data-bs-toggle="modal"
                        data-bs-target="#modalAgregarEjercicio">Agregar Ejercicio</button>
                      </div>

                      <div class="table-responsive">
                        <table
                          class="table table-striped"
                          [mfData]="ejercicios"
                          #mf4="mfDataTable"
                          [mfRowsOnPage]="5"
                        >
                          <thead>
                            <tr>
                              <th style="width: 35%">
                                <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
                              </th>
                              <th style="width: 10%">
                                <mfDefaultSorter by="series">Series</mfDefaultSorter>
                              </th>
                              <th style="width: 20%">
                                <mfDefaultSorter by="repeticiones">Repeticiones</mfDefaultSorter>
                              </th>
                              <th style="width: 35%">
                                <mfDefaultSorter by="accionesEjercicios">Acciones</mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let e of mf4.data">
                              <td>{{ e.nombre}}</td>
                              <td>{{ e.series }}</td>
                              <td>{{ e.repeticiones}}</td>
                              <td>
                                <button class="btn btn-green" >Modificar Ejercicio</button>
                                <button class="btn btn-red">Borrar</button></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="4">
                                <mfBootstrapPaginator
                                  [rowsOnPageSet]="[5, 10, 25]"
                                ></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>


            <!-- modal agregar ejercicio -->
            <div class="modal fade" id="modalAgregarEjercicio" tabindex="-1" aria-labelledby="modalLabelAgregarEjercicio"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-light text-dark">
                        <h5 class="modal-title" id="modalLabelEjercicio">Nuevo Ejercicio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid col-10 offset-1 mb-3">

                          <form class="row g-3" #ejercicioForm="ngForm">
                            <div class="col-md-12">
                              <label for="" class="form-label">Nombre</label>
                              <input type="text" class="form-control" id="" name="ejercicioNombre" [(ngModel)]="ejercicio.nombre"/>
                            </div>
                            <div class="col-md-6">
                              <label for="" class="form-label">Series</label>
                              <input type="number" class="form-control" id="" name="ejercicioSeries" [(ngModel)]="ejercicio.series"/>
                            </div>
                            <div class="col-md-6">
                              <label for="" class="form-label">Repeticiones</label>
                              <input type="number" class="form-control" id="" name="ejerciciosRep" [(ngModel)]="ejercicio.repeticiones"/>
                            </div>
                          </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-green"
                            data-bs-dismiss="modal" (click)="agregarEjercicio(ejercicioForm)">Guardar</button>
                        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>


          </div>
        </section>
      </div>
      <div
        class="tab-pane fade cont"
        id="progreso"
        role="tabpanel"
        aria-labelledby="progreso-tab"
      >
        <!--           Seccion Progreso            -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapseProgreso2"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Progreso</h3>
          </a>
          <div class="collapse show" id="collapseProgreso2">
            
              
                <div class="text-center">
                  <button class="btn-green btn mt-2 mb-2" data-bs-toggle="modal"
                  data-bs-target="#modalAgregarProgreso">Agregar progreso</button>  
                </div>
                
                <!-- modal Agregar progreso -->
                <div class="modal fade" id="modalAgregarProgreso" tabindex="-1" aria-labelledby="modalLabelAgregarProgreso"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                            <h5 class="modal-title" id="modalLabelAgregarProgreso">Nuevo Progreso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid col-10 offset-1 mb-3">
    
                              <form class="row g-3" #progresoForm="ngForm">
                                <div class="col-md-6">
                                  <label for="" class="form-label">Fecha</label>
                                  <input type="date" class="form-control" id="" name="fechaProgreso" [(ngModel)]="progreso.fecha"/>
                                </div>
                                <div class="col-md-6">
                                  <label for="" class="form-label">Control de peso</label>
                                  <input
                                    type="number" class="form-control" id="" placeholder="Peso en Kg" 
                                    name="pesoProgreso" [(ngModel)]="progreso.peso"
                                  />
                                </div>        
                                <div class="col-12">
                                  <label for="" class="form-label">Evolucion del aspecto fisico</label>
                                  <input id="" type="file" class="form-control" alife-file-to-base64 accept=".png, .jpg" (onFileChanged)="onFileChanged($event)" 
                                  name="imagenProgreso"/>
                                </div>
                                <div class="col-12">
                                  <label for="" class="form-label">Tipo de dieta</label>
                                  <textarea class="form-control w-100" name="" id="" cols="30" rows="3" 
                                  name="dietaProgreso" [(ngModel)]="progreso.dieta"
                                  ></textarea>
                                </div>
                                <div class="col-12">
                                  <label for="" class="form-label">Observaciones</label>
                                  <textarea class="form-control w-100" name="" id="" cols="30" rows="3"
                                  name="observacionesProgreso" [(ngModel)]="progreso.observaciones"
                                  ></textarea>
                                </div>
                               
                              </form>
    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-green"
                                data-bs-dismiss="modal" (click)="agregarProgreso(progresoForm)">Guardar</button>
                            <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>
  
            <div class="card-body table-responsive-sm col-md-10 offset-md-1">
              <table
                class="table table-striped"
                [mfData]="progresos"
                #mf2="mfDataTable"
                [mfRowsOnPage]="5"
              >
                <thead>
                  <tr>
                    <th style="width: 10%">
                      <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                      <mfDefaultSorter by="peso">Peso</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                      <mfDefaultSorter by="dieta">Dieta</mfDefaultSorter>
                    </th>
                    <th style="width: 30%">
                      <mfDefaultSorter by="observaciones">Observaciones</mfDefaultSorter>
                    </th>
                    <th style="width: 30%">
                      <mfDefaultSorter by="foto">Foto</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of mf2.data">
                    <td>{{ p.fecha}}</td>
                    <td>{{ p.peso }}</td>
                    <td>{{ p.dieta}}</td>
                    <td>{{ p.observaciones }}</td>
                    <td><img src="{{p.foto}}" style="width: 100%;" alt=""></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <mfBootstrapPaginator
                        [rowsOnPageSet]="[5, 10, 25]"
                      ></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div
        class="tab-pane fade cont"
        id="asistencias"
        role="tabpanel"
        aria-labelledby="asistencias-tab"
      >
        <!--          ver asistencia del alumno      -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapseAsistencia"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Asistencia del Alumno</h3>
          </a>
          <div class="collapse show" id="collapseAsistencia">
            <div class="text-center">
              <button class="btn-green btn mt-2 mb-2" data-bs-toggle="modal"
              data-bs-target="#modalAgregarAsistencia">Agregar asistencia</button>  
            </div>
            
            <!-- modal Agregar asistencia -->
            <div class="modal fade" id="modalAgregarAsistencia" tabindex="-1" aria-labelledby="modalLabelAgregarAsistencia"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-white bg-dark">
                        <h5 class="modal-title" id="modalLabelAgregarAsistencia">Nueva Asistencia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid col-10 offset-1 mb-3">

                          <form class="row g-3" #asistenciaForm="ngForm">
                            <div class="col-md-6">
                              <label for="" class="form-label">Fecha</label>
                              <input type="date" class="form-control" id="" name="asistfecha" [(ngModel)]="asistencia.fecha"/>
                            </div>
                            <div class="col-md-6">
                              <label for="" class="form-label">Hora</label>
                              <input type="time" class="form-control" id="" name="asisthora" [(ngModel)]="asistencia.hora"/>
                            </div>
                            
                          </form>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-green"
                            data-bs-dismiss="modal" (click)="agregarAsistencia(asistenciaForm)">Guardar</button>
                        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>

            <div class="card-body table-responsive-sm col-md-8 offset-md-2">
              <table
                class="table table-striped"
                [mfData]="asistencias"
                #mf="mfDataTable"
                [mfRowsOnPage]="5"
              >
                <thead>
                  <tr>
                    <th style="width: 50%">
                      <mfDefaultSorter by="fecha">Día</mfDefaultSorter>
                    </th>
                    <th style="width: 50%">
                      <mfDefaultSorter by="hora">Hora</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asist of mf.data">
                    <td>{{ asist.fecha}}</td>
                    <td>{{ asist.hora }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <mfBootstrapPaginator
                        [rowsOnPageSet]="[5, 10, 25]"
                      ></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div
        class="tab-pane fade cont"
        id="usuario"
        role="tabpanel"
        aria-labelledby="usuario-tab"
      >
        <!--       Seccion usuario      -->
        <section>
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#collapseUsuario"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <h3 class="categorie">Usuario</h3>
          </a>
          <div class="collapse show" id="collapseUsuario">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="" />
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Password</label>
                <input type="text" class="form-control" id="" />
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Perfil</label>
                <input type="text" class="form-control" id="" />
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Activo</label>
                <input type="text" class="form-control" id="" />
              </div>

              <div class="col-12 buttons">
                <button type="button" class="btn btn-green">Guardar</button>
                <button class="btn btn-grey">Modificar</button>
              </div>
            </form>
          </div>
        </section>
      </div>
      
    </div>
  </section>
</main>
